<component name="libraryTable">
  <library name="springframework.security.spring.crypto" type="repository">
    <properties maven-id="org.springframework.security:spring-security-crypto:6.2.4" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-crypto/6.2.4/spring-security-crypto-6.2.4.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>